body {
    font-size: 0.8rem;
    line-height: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    border-spacing: 0.6rem;
    letter-spacing: 0.05rem;
    word-spacing: 0.07rem;
    text-indent: 0.6rem;
    text-transform: none;
}
header {
    min-width: 1000px;
    text-align: center;
}
.menu {
    border-radius: 10px 10px 0 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 45px;
    width: 100%;
    overflow: hidden;
    background-color: #333;
}

.li_menu{
    float: left;
}

.li_menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.li_menu a:hover {
    background-color: #111;
}

.wrapper {
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
    justify-items: start;
}

form {
    position: relative;
    width: 300px;
    height: auto;
    margin: 3px 2px 3px 550px;
}
.search-bar {
    background: #333;
    width: 80%;
}
.search-bar input {
    width: 100%;
    height: 80%;
    padding-left: 40px;
    border: 2px solid #333;
    border-radius: 5px;
    outline: none;
    background: #F9F0DA;
    color: #333;
}

.shop-cart{
    float: right;
}
.shop-cart img:hover {
    background-color: #111;
}
.shop-cart-image{
    padding: 7px 27px;
    width: 27px;
    height: 27px;
}

.image-item{
    width: 165px;
    height: 250px;
    margin: 0 0 5px 0;
    border-radius: 7px;
}
.shop-item{
    text-align: center;
    width: 165px;
    height: 280px;
    filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.5));
}

.shop-item :hover{
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.5));
}

.shop-item_name{
    margin: 0 0 8px auto;
    padding: 0;
}

.ad-footer-img{
    width:99%
}

@media screen and (max-width: 900px) {
    .ad-footer, .ad-footer-img {
        display: none;
    }

    header{
        min-width: 50%
    }

    form{
        margin: 3px 2px 3px 30%
    }
    .li_menu{
        display: none;
    }
    #li_menu_main{
        display: block;
    }

    .shop-item{
        width: 140px;
        height: 250px;
    }
    .image-item{
        width: 140px;
        height: 200px;
    }
}

@media screen and (max-width: 767px) {
    form{
        display:none;
    }
    #li_menu_main{
        display: block;
        font-size: 0.87rem;
    }
    body{
        font-size: 0.87rem;
    }
    .wrapper{
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}
